{% extends "base.html" %}

{% block title %}
Quibbles -- Welcome
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Quibbles is a simple leisure site for <strong>playing with words</strong>.</p>
            <p>Don't have an account? Create one by <a href="{{ url_for('auth.signup') }}">Signing up</a></p>
        </header>

        <section>
            <h2>Recently added</h2>
            {% if new_quibbles.count() > 0 %}
                {% with quibbles=new_quibbles %}
                    {% include "quibble_list.html" %}
                {% endwith %}
            {% else %}
                No quibbles have been added yet.
            {% endif %}
        </section>

    </article>
{% endblock %}
